* {
	box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,p,a,span {
	color: black;
	font-family: 'Roboto', sans-serif;
}
a {
	text-decoration: none;
}
li {
	list-style: none;
}

/*======================================================*/
.header {

}

.header_nav {

}

.header_nav > li > a {
	font-weight: bold;
}

.form_login {
	width: 50%;
	margin: 0 auto;
}

@media screen and (max-width: 787px) {
	.form_login {
		width: 100%;
	}
}

.errors{
	position: relative;
	z-index: 999;
	width: 50%;
	margin: 0 auto;
	text-align: center;
}
.errors ul {
	margin: 0;
	padding: 0;
}
